@page
@model ServiceHost.Areas.Administration.Pages.Account.Roles.CreateModel





<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">
                <h3>ایجاد نقش</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    
                    <form 
                        method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Role.Name" class="control-label">نام</label>
                                        <input type="text" class="form-control" asp-for="Role.Name">
                                        <span asp-validation-for="Role.Name" class="error"></span>
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
                            <button type="submit" class="btn btn-info waves-effect waves-light">ایجاد</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

