<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - فروشگاه آنلاین</title>
    <meta name="keywords" content="@ViewData["keyword"]"/>
    <meta name="description" content="@ViewData["metaDescription"]"/>

    <!-- Vendor CSS -->
    <link href="~/Theme/assets/css/vendors.css" rel="stylesheet">
    <!-- Main CSS -->
    <link href="~/Theme/assets/css/style.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Theme/assets/css/Custom.css" rel="stylesheet">
</head>

<body>
@await Component.InvokeAsync("Menu")

@RenderBody()
    <!--====================  End of blog post slider area  ====================-->
    <!--====================  newsletter area ====================-->
    <div class="newsletter-area section-space--inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 offset-lg-2">
                    <div class="newsletter-wrapper">
                        <p class="small-text">Special Ofers For Subscribers</p>
                        <h3 class="title">Ten Percent Member Discount</h3>
                        <p class="short-desc">
                            Subscribe to our newsletters now and stay up to date with new collections,
                            the latest lookbooks and exclusive offers.
                        </p>

                        <div class="newsletter-form">
                            <form id="mc-form" class="mc-form">
                                <input type="email" placeholder="Enter Your Email Address Here..." required>
                                <button type="submit" value="submit">SUBSCRIBE</button>
                            </form>

                        </div>
                        <!-- mailchimp-alerts Start -->
                        <div class="mailchimp-alerts">
                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                        </div>
                        <!-- mailchimp-alerts end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of newsletter area  ====================-->
    <!--====================  footer area ====================-->
@await Component.InvokeAsync("Footer")
<!--====================  End of footer area  ====================-->

 

    <div class="search-overlay" id="search-overlay">
        <a href="javascript:void(0)" class="close-search-overlay" id="close-search-overlay">
            <i class="ion-ios-close-empty"></i>
        </a>

        <!--=======  search form  =======-->

        <div class="search-form">
            <form method="get" asp-page="/Search">
                <input type="search" name="value" placeholder="چی دوست داری بخری....">
                <button type="submit">
                    <i class="ion-android-search"></i>
                </button>
            </form>
        </div>

        <!--=======  End of search form  =======-->
    </div>


    <!-- scroll to top  -->
    <div id="scroll-top">
        <span>Back to top</span><i class="ion-chevron-right"></i><i class="ion-chevron-right"></i>
    </div>
    <!-- end of scroll to top -->
    <!-- Vendor JS -->
    <script src="~/Theme/assets/js/vendors.js"></script>

    <!-- Active JS -->
    <script src="~/Theme/assets/js/active.js"></script>

</body>

</html>